<nav>
    <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>
        Home
    </a>
    |
    <a href="/graphics.html" {% if page.url == "/graphics.html" %}style="color: red;"{% endif %}>
        Computer Graphics 
    </a>
    |
    <a href="/convnet.html" {% if page.url == "/convnet.html" %}style="color: red;"{% endif %}>
        Convolutional Neural Network
    </a>
    |
    <a href="/capstone.html" {% if page.url == "/capstone.html" %}style="color: red;"{% endif %}>
        Senior Capstone 
    </a>
    |
    <a href="/DS-and-A.html" {% if page.url == "/DS-and-A.html" %}style="color: red;"{% endif %}>
        DS&A 
    </a>
    |
    <a href="/certs.html" {% if page.url == "/certs.html" %}style="color: red;"{% endif %}>
        Certifications 
    </a>
</nav>